{{#if this.ok}}
    <h3>{{this.data.title}}</h3>
    <a href='/products/new'>
        <button>NEW PRODUCT</button>
    </a>

    <h3>HOME Handlebar</h3>
    <div>
        {{#each this.data.products}}
            <hr />
            <div>
                <h3>{{this.name}}</h3>
                <h4>Price: {{this.price}}</h4>
                <button>Buy</button>
                <a href='./products/{{this.id}}'><button>Details</button></a>
            </div>
        {{/each}}
    </div>
{{else}}
    <h3>{{this.message}}: {{this.data.detail}}</h3>
{{/if}}