<h1>UPDATE PRODUCT {{this.data.form_state.product.name}}</h1>

<form
    action="/products/{{this.data.form_state.product.id}}/update"
    method="POST"
>
    <div>
        <label for="name">Name:</label>
        <input
            type="text"
            id="name"
            name="name"
            placeholder="John Smith"
            value={{this.data.form_state.product.name}}
        />
        {{#if this.data.errors.name}}
            <span>{{this.data.form_state.errors.name}}</span>
        {{/if}}
    </div>
    <div>
        <label for="price">Price:</label>
        <input
            type="text"
            id="price"
            name="price"
            placeholder="2000"
            value={{this.data.form_state.product.price}}
        />
        {{#if this.data.form_state.errors.price}}
            <span>{{this.data.form_state.errors.price}}</span>
        {{/if}}
    </div>
    <div>
        <label for="description">Description:</label>
        <input
            type="text"
            id="description"
            name="description"
            placeholder="Describe your product..."
            value={{this.data.form_state.product.description}}
        ></input>
        {{#if this.data.form_state.errors.description}}
            <span>{{this.data.form_state.errors.description}}</span>
        {{/if}}
    </div>
    <div>
        <a href="/"><button>CANCEL</button></a>
    </div>
    <div>
        <button>Submit</button>
    </div>
</form>